@import url('https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here');


body {
	width: 1024px;
	text-align: center;
	margin: 0 auto;
	background: url("../images/cardboard_flat.png");
	font-family: 'Just Me Again Down Here', cursive;
}

h1 {
	font-size: 12vh;
}

h2 {
	font-size: 8vh;
	margin: 10px;
}

button {
	background-color: antiquewhite;
	border: 0;
	font-family: inherit;
	color: black;
	padding: 20px;
}

#trivia-answers-container {
	text-align: left;
	font-size: 4vh;
	display: flex;
	justify-content: space-around;
}

.trivia-answer {
	padding: 15px 0;
	margin: 5px 0;
	border: 1px;
	border-style: solid;
	border-color: tan;
	width: 25%;
	text-align: center;
}
